/************************ VARIABLES ************************/
$color                      : #333;
$ovrly-pixel                : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQIW2NkYGBIA+LNjEBCEoifAwAOIwIcRIzLRQAAAABJRU5ErkJggg==';
$ovrly-horizontal           : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NkYGDwYQQSDAAB4QBPwV3MAAAAAABJRU5ErkJggg==';
$ovrly-vertical             : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAD0lEQVQIW2NkYGDwAeItAAJCAQLbWdlqAAAAAElFTkSuQmCC';
$ovrly-diagonal-left        : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2NkYGDwAeItQMzACCJgAjAOWAAAMCECUKrvDZcAAAAASUVORK5CYII=';
$ovrly-diagonal-right       : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkQABjRijbGEifBXHADJAgABpuAjc/voYCAAAAAElFTkSuQmCC';
$ovrly-zigzag-horizontal    : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAOMUL4PkN4CYoMEYBwwDVMB0+gDAFfKA1Eq4WX3AAAAAElFTkSuQmCC';
$ovrly-zigzag-vertical      : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAAfIHMLI5QP5oDYMAEQG0UFTKMPAHHKA1ExRzAmAAAAAElFTkSuQmCC';
$ovrly-snake                : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANUlEQVQYV2NkgABjKA2iziKxGRiRJFEkYIpgCrBKghRRrMCYkAlwBRiuhzkeZAK6N5F9eRYAdEsIojQvMDEAAAAASUVORK5CYII=';
$ovrly-batik                : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAO0lEQVQYV2NkgABjID4LZcMosBgjkiSyIhjbGKQAZgKIhpkCUgDmwxQgG4uskIFoBXAj0a0kyZFYvQkAPhcQb5ppzEwAAAAASUVORK5CYII=';
$ovrly-galaxy               : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAM0lEQVQYV2NkQAXGUO5ZmDAjmgIMLrICkG6YTjgbpABZAt0EY6IUwHThtAKvO9F9geFNAEhLCG+Qlp3oAAAAAElFTkSuQmCC';
$ovrly-apolo                : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANElEQVQYV2NkwATGQKGzyMKMaGpACmAArpD6imDuQLcOLA6zjmhFWDwKFkIxiaAiXArA4gDNTwwK7oZ6RQAAAABJRU5ErkJggg==';
$ovrly-skull                : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAUElEQVQYV42PwQ0AIAgDZSb3H8GdTElKTqKJfkC8Vhrj40RjJu7LPSECfk/QkAANulPOOyShBdUTekUoJ6tU+e2xEyE6XiG7sFY6Lsyk6bQBBUMSCyhIjHoAAAAASUVORK5CYII=';


/************************ BASE ************************/
@mixin ovrly($pattern: '', $color: $color) {
    position: relative;
    z-index: 1;

    &:after{
        @if $pattern != '' {
            @if $pattern == 'pixel'             { background-image: url($ovrly-pixel); }
            @if $pattern == 'horizontal'        { background-image: url($ovrly-horizontal); }
            @if $pattern == 'vertical'          { background-image: url($ovrly-vertical); }
            @if $pattern == 'diagonal-left'     { background-image: url($ovrly-diagonal-left); }
            @if $pattern == 'diagonal-right'    { background-image: url($ovrly-diagonal-right); }
            @if $pattern == 'zigzag-horizontal' { background-image: url($ovrly-zigzag-horizontal); }
            @if $pattern == 'zigzag-vertical'   { background-image: url($ovrly-zigzag-vertical); }
            @if $pattern == 'snake'             { background-image: url($ovrly-snake); }
            @if $pattern == 'batik'             { background-image: url($ovrly-batik); }
            @if $pattern == 'galaxy'            { background-image: url($ovrly-galaxy); }
            @if $pattern == 'apolo'             { background-image: url($ovrly-apolo); }
            @if $pattern == 'skull'             { background-image: url($ovrly-skull); }
            background-repeat: repeat;
        }

        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: rgba(red($color), green($color), blue($color), .6);
    }
}

.ovrly-pixel                { @include ovrly('pixel'); }
.ovrly-horizontal           { @include ovrly('horizontal'); }
.ovrly-vertical             { @include ovrly('vertical'); }
.ovrly-diagonal-left        { @include ovrly('diagonal-left'); }
.ovrly-diagonal-right       { @include ovrly('diagonal-right'); }
.ovrly-zigzag-horizontal    { @include ovrly('zigzag-horizontal'); }
.ovrly-zigzag-vertical      { @include ovrly('zigzag-vertical'); }
.ovrly-snake                { @include ovrly('snake'); }
.ovrly-batik                { @include ovrly('batik'); }
.ovrly-galaxy               { @include ovrly('galaxy'); }
.ovrly-apolo                { @include ovrly('apolo'); }
.ovrly-skull                { @include ovrly('skull'); }
