/************************ VARIABLES ************************/
@ovrly-default-color: #333;

/************************ BASE ************************/
.ovrly(@color: @ovrly-default-color, @img: '')
{
    position: relative;
    z-index: 1;

    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-image: url(@img);
        background-repeat: repeat;
        background-color: rgba(red(@color), green(@color), blue(@color), 0.5);
    }
}


/************************ HORIZONTAL ************************/
.ovrly-horizontal(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGAwBmI4YMQmgKyAAaQCBQAAFwsAa2rdaiwAAAAASUVORK5CYII=");
}
.ovrly-horizontal{ .ovrly-horizontal(); }


/************************ VERTICAL ************************/
.ovrly-vertical(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQIW2NkYGAwBmIQOAsiGEkXAACBTgQFPOzWdgAAAABJRU5ErkJggg==");
}
.ovrly-vertical{ .ovrly-vertical(); }


/************************ DIAGONAL LEFT ************************/
.ovrly-diagonal-left(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAMElEQVQIW2NkYGAwBmIQOAulQZQxI5IEiiRIAqwCSTVYJ0wCQxJZAkUSZgeKxSAVALghBaAJbLjdAAAAAElFTkSuQmCC");
}
.ovrly-diagonal-left{ .ovrly-diagonal-left(); }


/************************ DIAGONAL RIGHT ************************/
.ovrly-diagonal-right(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALklEQVQIW2NkYGAwBuKzQAwDID4DI5IAiAkWRJeAC4JMgOlAEYTpwBBEl0BxAAB8EgWgK17tyQAAAABJRU5ErkJggg==");
}
.ovrly-diagonal-right{ .ovrly-diagonal-right(); }


/************************ PIXEL ************************/
.ovrly-pixel(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQIW2NkYGAwBmIQOAsiGLEJQBVAKJAKFAAAYx4CBZ5GUv8AAAAASUVORK5CYII=");
}
.ovrly-pixel{ .ovrly-pixel(); }


/************************ ZIGZAG HORIZONTAL ************************/
.ovrly-zigzag-horizontal(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQIW2NkwAEYiZEwhio6C6JhOmCCMAPOgiRQVML4MAmwdiRgDADJ/ARtcNPnmAAAAABJRU5ErkJggg==");
}
.ovrly-zigzag-horizontal{ .ovrly-zigzag-horizontal(); }


/************************ ZIGZAG VERTICAL ************************/
.ovrly-zigzag-vertical(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAJklEQVQIW2NkwATGICFGNHGwIBCcRZaAC6LrwCkBUojVKJh1YEkAKfcEbV+GHtQAAAAASUVORK5CYII=");
}
.ovrly-zigzag-vertical{ .ovrly-zigzag-vertical(); }


/************************ SNAKE ************************/
.ovrly-snake(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANUlEQVQYV2NkgABjKA2iziKxGRiRJFEkYIpgCrBKghRRrMCYkAlwBRiuhzkeZAK6N5F9eRYAdEsIojQvMDEAAAAASUVORK5CYII=");
}
.ovrly-snake{ .ovrly-snake(); }


/************************ BATIK ************************/
.ovrly-batik(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAO0lEQVQYV2NkgABjID4LZcMosBgjkiSyIhjbGKQAZgKIhpkCUgDmwxQgG4uskIFoBXAj0a0kyZFYvQkAPhcQb5ppzEwAAAAASUVORK5CYII=");
}
.ovrly-batik{ .ovrly-batik(); }


/************************ GALAXY ************************/
.ovrly-galaxy(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAM0lEQVQYV2NkQAXGUO5ZmDAjmgIMLrICkG6YTjgbpABZAt0EY6IUwHThtAKvO9F9geFNAEhLCG+Qlp3oAAAAAElFTkSuQmCC");
}
.ovrly-galaxy{ .ovrly-galaxy(); }


/************************ APOLO ************************/
.ovrly-apolo(@color: @ovrly-default-color)
{
    .ovrly(@color, "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANElEQVQYV2NkwATGQKGzyMKMaGpACmAArpD6imDuQLcOLA6zjmhFWDwKFkIxiaAiXArA4gDNTwwK7oZ6RQAAAABJRU5ErkJggg==");
}
.ovrly-apolo{ .ovrly-apolo(); }